.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-field {
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.action-button {
    display: flex;
    justify-content: center;
}