.training-ground-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
}

.technique-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    justify-content: center;
}